@{
    Layout = null;
    ViewBag.Title = "CBEndPoint";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CBEndPoint</title>
</head>
<body>CallButton reponse.\n\r
    Name: @Request.QueryString["cbname"];\n\r
    EventType:@Request.QueryString["event"];\n\r
    Status/Bat: @Request.QueryString["status"]; / @Request.QueryString["battery"];\n\r
</body>
</html>
